body {
    background-color: wheat;
    max-width: 62vw;
    margin: auto;
    padding-bottom: 50px;
    line-height: 30px;
}

.main-heading {
    font-family: "Z003", Garamond, 'Times New Roman', serif;
    font-size: 42px;
    text-align: center;
    border-bottom: 2px solid black;
}


.food-img {
    height: 380px;
    width: auto;
}

li {
    max-width: 60vw;
}
.ingredients-steps-container{
    background-color: rgb(224, 204, 166);
    padding: 12px;
}
.recipe-details-container{

}
.recipe-details-content{
    float: right;
    display: inline-block;
    background-color: rgb(224, 204, 166);
    height: 380px;
    box-sizing: border-box;
    padding: 6px 20px;
}
#lasagna{
    width: 335px;
    margin-left: 5px;
}
#pumpkin-pie{
    width: 460px;
    margin-left: 5px;
}
#coconut-curry-soup{
    width: 460px;
    margin-left: 5px;
}
dl{
    
}
hr{
   color: rgb(224, 204, 166);
}
dt{
    font-weight: bold;
    margin-top: 8px;
}
dd{
    display: block;
    margin-left: 0px;
}
#test{
    list-style-type: none;
    display: inline;
}
#test li{
    margin-top: 2px
}